## Spatial Data Science (GEO6119)

---

# Lab 3: Water Quality Data Processing


<br>
Instructor: Yi Qiang (qiangy@usf.edu)<br>

---

In this lab, you will use Python to conduct preliminary analysis of a dataset about coastal wate quality in Florida. Web maps of the data can be found [here](https://data.florida-seacar.org/maps/locations/programs/).

Please click and download the dataset [OEAT_Discrete-2022-Aug-31.csv](https://usflearn.instructure.com/files/140340782/download?download_frd=1). Copy and paste the dataset into the same folder of this Jupyter Notebook (WQ_data_processing.ipynb).

### Please write or complete Python code to accomplish the tasks in questions. 

### Useful materials:
- [Example codes about Numpy Array and Data Frame](https://github.com/qiang-yi/spatial_data_science/blob/main/Week2_Array_DataFrame.ipynb)
- [Numpy Array Cheatsheet](https://assets.datacamp.com/blog_assets/Numpy_Python_Cheat_Sheet.pdf)
- [Pandas DataFrame Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

### Useful shortcuts for Jupyter Notebook

- A: add a cell above the current cell
- B: add a cell below the current cell
- C: copy the current cell
- X: cut the current cell
- V: paste the copied cell below the current cell
- DD: delete the current cell
- ESC: exit cell editing
- M: change cell to MarkDown code (must exit editing first)
- Y: change cell to Python code (must exit editing first)

## Step 1: Load data

Please import the `numpy` and `pandas` package as `np` and `pd`.

In [1]:
# ---add codes here---
import numpy as np
import pandas as pd

Read the csv file `OEAT_Discrete-2022-Aug-31.csv` as a data frame, and name it `df`. 

If the file is in the same folder of this Jupyter Notebook, you can read it using its file name. If it is in another location (folder), you can read it using the file path.

In [5]:
# ---add codes below---
df = pd.read_csv(r"OEAT_Discrete-2022-Aug-31.csv")

C:\Users\yi\AppData\Local\Temp/ipykernel_29732/1547517878.py:2: DtypeWarning: Columns (6,17,18,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"OEAT_Discrete-2022-Aug-31.csv")

Preview the first 10 lines in `df`. You can refer to this [webpage](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html) about how to do it.

Briefly browse the data preview to learn the data structure (e.g., columns, values in columns, etc.)

In [10]:
# ---add codes below---
df.head(10)

,RowID,ProgramID,ProgramName,DataFileName,ParameterName,ParameterUnits,ProgramLocationID,ActivityType,SampleDate,Year,...,ResultComments,Latitude_DD,Longitude_DD,ManagedAreaName,Region,SEACAR_QAQCFlagCode,SEACAR_QAQC_Description,Include,SEACAR_EventID,AreaID
0,1,118,"National Aquatic Resource Surveys, National Co...",Data_118E_Final.csv,Chlorophyll a uncorrected for pheophytin,ug/L,FL01-0015,Sample,2001-12-31,2001,...,NaN,26.56520,-82.06790,Matlacha Pass Aquatic Preserve,SW,6Q,6Q - Within threshold tolerance,1,3521AFD2-7CB5-472C-9F0A-094711354B17,28
1,2,118,"National Aquatic Resource Surveys, National Co...",Data_118E_Final.csv,Chlorophyll a uncorrected for pheophytin,ug/L,FLW05-0009,Sample,2005-12-31,2005,...,NaN,26.58742,-82.06785,Matlacha Pass Aquatic Preserve,SW,6Q,6Q - Within threshold tolerance,1,4F7FAE89-44E6-4527-B780-62604BEDA08E,28
2,3,118,"National Aquatic Resource Surveys, National Co...",Data_118E_Final.csv,Chlorophyll a uncorrected for pheophytin,ug/L,FLW06-0042,Sample,2006-12-31,2006,...,NaN,26.63835,-82.21297,Pine Island Sound Aquatic Preserve,SW,6Q,6Q - Within threshold tolerance,1,135985C4-315B-430F-B56A-BCBA0ECEE7B8,34
3,4,118,"National Aquatic Resource Surveys, National Co...",Data_118E_Final.csv,Chlorophyll a uncorrected for pheophytin,ug/L,FLW06-0041,Sample,2006-12-31,2006,...,NaN,26.83697,-82.09640,Gasparilla Sound-Charlotte Harbor Aquatic Pres...,SW,6Q,6Q - Within threshold tolerance,1,ED7F7EC6-3254-4768-9CCC-7744025DFE2F,18
4,5,118,"National Aquatic Resource Surveys, National Co...",Data_118E_Final.csv,Chlorophyll a uncorrected for pheophytin,ug/L,FL00-0020,Sample,2000-12-31,2000,...,NaN,26.75800,-82.08850,Gasparilla Sound-Charlotte Harbor Aquatic Pres...,SW,6Q,6Q - Within threshold tolerance,1,B3933D86-BB5A-4431-AC1C-3793B782E615,18
5,6,118,"National Aquatic Resource Surveys, National Co...",Data_118E_Final.csv,Chlorophyll a uncorrected for pheophytin,ug/L,FL00-0011,Sample,2000-12-31,2000,...,NaN,29.15600,-83.05780,Big Bend Seagrasses Aquatic Preserve,NW,6Q,6Q - Within threshold tolerance,1,1A60C295-45C3-4E94-890A-EA5C81D67148,5
6,7,118,"National Aquatic Resource Surveys, National Co...",Data_118E_Final.csv,Chlorophyll a uncorrected for pheophytin,ug/L,FLW05-0020,Sample,2005-12-31,2005,...,NaN,30.07050,-84.10702,Big Bend Seagrasses Aquatic Preserve,NW,6Q,6Q - Within threshold tolerance,1,5EA61E99-5BC7-448A-A14B-D701AB2FE255,5
7,8,118,"National Aquatic Resource Surveys, National Co...",Data_118E_Final.csv,Chlorophyll a uncorrected for pheophytin,ug/L,FL01-0014,Sample,2001-12-31,2001,...,NaN,26.75900,-82.07900,Gasparilla Sound-Charlotte Harbor Aquatic Pres...,SW,6Q,6Q - Within threshold tolerance,1,D1C671D0-CDC6-4138-9412-DE908FEE0240,18
8,9,118,"National Aquatic Resource Surveys, National Co...",Data_118E_Final.csv,Chlorophyll a uncorrected for pheophytin,ug/L,FLW06-0036,Sample,2006-12-31,2006,...,NaN,29.12490,-83.05488,Big Bend Seagrasses Aquatic Preserve,NW,6Q,6Q - Within threshold tolerance,1,B772305E-5E0D-4201-B52E-AB2A821106FF,5
9,10,118,"National Aquatic Resource Surveys, National Co...",Data_118E_Final.csv,Chlorophyll a uncorrected for pheophytin,ug/L,FLE06-0044,Sample,2006-12-31,2006,...,NaN,30.05455,-81.33382,Guana Tolomato Matanzas National Estuarine Res...,NE,6Q,6Q - Within threshold tolerance,1,A8C3F32D-B255-44A4-AC2D-29F77F9A2E54,20

## Step 2: Data Exploration
The preview only offer a glance of the data. Next, you will do further exploration of the data using functions in pandas data frame.

Print the numbers of rows and columns of the dataframe. If you forgot how, you can google "Python print numbers of columns and rows of a data frame", and then find tutorials or example codes.

In [7]:
# ---add codes below---
df.shape

(1709855, 31)

Due to the large data size, we canot print all columns in Jupyter Notebook (columns in the middle is skipped with "..."). You can use the `columns` attribute to view all columns in the data frame.

In [60]:
# ---add codes below---
df.columns

Index(['RowID', 'ProgramID', 'ProgramName', 'DataFileName', 'ParameterName',
       'ParameterUnits', 'ProgramLocationID', 'ActivityType', 'SampleDate',
       'Year', 'Month', 'ActivityDepth_m', 'RelativeDepth', 'TotalDepth_m',
       'ResultValue', 'MDL', 'PQL', 'DetectionUnit', 'ValueQualifier',
       'ValueQualifierSource', 'SampleFraction', 'ResultComments',
       'Latitude_DD', 'Longitude_DD', 'ManagedAreaName', 'Region',
       'SEACAR_QAQCFlagCode', 'SEACAR_QAQC_Description', 'Include',
       'SEACAR_EventID', 'AreaID'],
      dtype='object')

We will mainly use the following columns for our analysis. You don't need to worry about the other columns.
- ParameterName: water quality variables been sampled
- SampleDate: Sampling dates
- Year: Sampling year
- Month: Sampling month
- ResultValue: Value of the measured varaible
- ParameterUnits: Unit of the measured variable
- Latitude_DD: Latitude of the sample
- Longitude_DD: Longitude of the sample
- ManagedAreaName: Management area where the sample is located.

The dataset contains water quality data in the entire Florida. But we are only interested in the following five management areas:

- Guana Tolomato Matanzas National Estuarine Research Reserve
- Biscayne Bay Aquatic Preserve
- Estero Bay Aquatic Preserve 
- Charlotte Harbor-Gasparilla Sound Aquatic Preserves
- Big Bend Seagrasses Aquatic Preserve

First, let's print unique values in the "ManagedAreaName" column. If you don't know how, you can google "Print unique values in a column" to find example code.

In [12]:
# ---add codes below---
df['ManagedAreaName'].unique()

array(['Matlacha Pass Aquatic Preserve',
       'Pine Island Sound Aquatic Preserve',
       'Gasparilla Sound-Charlotte Harbor Aquatic Preserve',
       'Big Bend Seagrasses Aquatic Preserve',
       'Guana Tolomato Matanzas National Estuarine Research Reserve',
       'Biscayne Bay Aquatic Preserve', 'Lemon Bay Aquatic Preserve',
       'Cape Haze Aquatic Preserve', 'Estero Bay Aquatic Preserve'],
      dtype=object)

Next, we select data in the above mentioned five management areas and assign the selected data in a new data frame `df2`. 

Note: instead of using Or (|) to connect the five conditions, you need to use the `isin` function to select rows where manage area is in a list of values. You can refer to the example [here](https://www.statology.org/pandas-select-rows-based-on-column-values/) to complete the code.

In [15]:
# ---add codes below---
df2 = df[df['ManagedAreaName'].isin(['Guana Tolomato Matanzas National Estuarine Research Reserve',
                                     'Biscayne Bay Aquatic Preserve',
                                     'Estero Bay Aquatic Preserve',
                                     'Charlotte Harbor-Gasparilla Sound Aquatic Preserves',
                                     'Big Bend Seagrasses Aquatic Preserve'])]

Print the row numbers of df and df2 to view the difference. df2 is essentially a subset of df1.

In [16]:
# Print numbers of columns & rows in df
print(df.shape)

# Print numbers of columns & rows in df2
print(df2.shape)

(1709855, 31)
(1029898, 31)

Please follow the above steps to select rows in df2 that contain water quality variables (ParameterName) of salinity, total Nitrogen, dissolved oxygen, turbidity, and secchi depth. You need to print the unique values in the ParameterName column to see what variables are available. Then, use the `isin` function to select rows including the desired variables. Finally, assign the selected rows in a new data frame `df3`.

In [17]:
# ---add codes below---
df2['ParameterName'].unique()

array(['Chlorophyll a uncorrected for pheophytin', 'Dissolved Oxygen',
       'Dissolved Oxygen Saturation', 'NO2+3 Filtered', 'pH', 'Salinity',
       'Secchi Depth', 'Specific Conductivity',
       'Total Kjeldahl Nitrogen TKN', 'Water Temperature', 'Turbidity',
       'Light Extinction Coefficient', 'Total Phosphorus',
       'Total Suspended Solids, TSS',
       'Chlorophyll a corrected for pheophytin', 'NH4 Filtered',
       'PO4 Filtered', 'Colored dissolved organic matter, CDOM',
       'Total Nitrogen', 'Nitrite (N)', 'Nitrate (N)',
       'Nitrogen, organic'], dtype=object)

In [18]:
# ---add codes below---
df3 = df2[df2['ParameterName'].isin(['Dissolved Oxygen','Salinity','Turbidity','Secchi Depth','Total Nitrogen'])]

Print the numbers of rows and columns in df3

In [19]:
# ---add codes below---
df3.shape

(502299, 31)

## Step 3: Data Aggregation

Now, df3 contains the data (in the 5 management area and 5 WQ variables) that we are interested. Next, we will aggregate the daily water quality data into weekly, monthly, and yearly data.

First, we convert the `SampleDate` column from string to the datatime object, which will allow computation based on data and time.

In [22]:
df3['timestamp'] = pd.to_datetime(df3['SampleDate'])

C:\Users\yi\AppData\Local\Temp/ipykernel_29732/1548954083.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['timestamp'] = pd.to_datetime(df3['SampleDate'])

Next, we group the data by weeks. Here, the pandas grouper function is used to count the number of data samples in a weekly frequency (using the `.count()` function). `freq = 'W'` means weekly frequency. Please find [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases) for other frequency parameters.

In [32]:
weekly_count = df3.groupby(['ParameterName', pd.Grouper(key='timestamp', freq='W')])[
    'ResultValue'].count().reset_index().sort_values('timestamp')

In [33]:
weekly_count = weekly_count.rename(columns={"ResultValue": "Count"})
weekly_count

         ParameterName  timestamp  Count
1533          Salinity 1963-12-08      2
1534          Salinity 1964-02-09      2
1535          Salinity 1964-03-08      2
1536          Salinity 1964-04-12      2
1537          Salinity 1964-05-10      2
...                ...        ...    ...
4258      Secchi Depth 2022-01-16      2
1531  Dissolved Oxygen 2022-01-23      1
5635    Total Nitrogen 2022-01-23      1
7068         Turbidity 2022-01-23      1
1532  Dissolved Oxygen 2022-01-30      1

[7069 rows x 3 columns]

Next, please modify the above codes to calculate the mean, maximum, minimum and standard deviation of the data in weekly, monthly, and yearly frequencies.

In [36]:
monthly_mean = df3.groupby(['ParameterName', pd.Grouper(key='timestamp', freq='M')])[
    'ResultValue'].mean().reset_index().sort_values('timestamp')

monthly_mean

         ParameterName  timestamp  ResultValue
417           Salinity 1963-12-31    34.500000
418           Salinity 1964-02-29    32.950000
419           Salinity 1964-03-31    33.850000
420           Salinity 1964-04-30    36.400000
421           Salinity 1964-05-31    37.850000
...                ...        ...          ...
1136      Secchi Depth 2022-01-31     0.612500
800           Salinity 2022-01-31    28.642000
1518    Total Nitrogen 2022-01-31     0.984667
416   Dissolved Oxygen 2022-01-31     6.251667
1904         Turbidity 2022-01-31    35.100000

[1905 rows x 3 columns]

In [39]:
yearly_std = df3.groupby(['ParameterName', pd.Grouper(key='timestamp', freq='Y')])[
    'ResultValue'].std().reset_index().sort_values('timestamp')

yearly_std =yearly_std.rename(columns={"ResultValue":"Yearly STD"})

In [40]:
yearly_std

        ParameterName  timestamp  Yearly STD
42           Salinity 1963-12-31    0.282843
43           Salinity 1964-12-31    3.112679
44           Salinity 1967-12-31    3.672435
0    Dissolved Oxygen 1970-12-31    0.967321
1    Dissolved Oxygen 1971-12-31    1.147834
..                ...        ...         ...
41   Dissolved Oxygen 2022-12-31    3.131335
119      Secchi Depth 2022-12-31    0.322426
85           Salinity 2022-12-31    5.685074
152    Total Nitrogen 2022-12-31    1.144308
187         Turbidity 2022-12-31   55.393231

[188 rows x 3 columns]